body {
  font-family: "Mulish", sans-serif; }

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif; }

/*--------------------------------------------------------*/
/*          configuracion del header                      */
/*--------------------------------------------------------*/
.header__container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 150px;
  width: 100vw;
  overflow: hidden;
  background-color: #000000;
  box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.7);
  z-index: 3; }
  .header__container--image {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.list__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 250px;
  background-color: #ffb91c;
  margin: 30px auto 0px auto;
  border-radius: 4px;
  position: relative;
  box-shadow: 0px 2px 17px -6px rgba(0, 0, 0, 0.75);
  z-index: 1111; }
  .list__menu--ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .list__menu--link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #000000;
    font-size: 20px; }

.elements {
  display: block;
  position: absolute;
  right: 0;
  top: 41px;
  left: 0;
  margin: 0px 5px;
  background-color: #ffec4e;
  z-index: 111; }
  .elements__list {
    padding: 0;
    padding-left: 20px;
    margin: 20px 0px;
    list-style: none; }
    .elements__list--li {
      margin: 7px 0px; }
    .elements__list--link {
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      text-decoration: none; }

.elements {
  display: none; }

.list__menu:hover .elements {
  display: block; }

/*----------------------------------------------------------*/
/*        configuracion main index.html                     */
/*----------------------------------------------------------*/
.hero__container {
  height: 450px;
  width: 100vw;
  margin: -70px 0px 0px 0px;
  padding: 0;
  z-index: 1;
  display: block;
  position: relative;
  overflow: hidden; }
  .hero__container--image {
    object-fit: cover;
    height: 100%;
    width: 100%; }

.title {
  text-align: center;
  margin: 15px;
  font-size: 18px; }

.news__container {
  margin: 20px auto;
  padding: 0;
  overflow: hidden;
  width: 290px;
  height: 290px;
  position: relative;
  border-radius: 3px; }
  .news__container--image {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .news__container--desc {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 10px 10px 10px;
    color: #ffffff;
    background-color: #000000;
    opacity: 0.8; }
    .news__container--desc h3 {
      text-align: center;
      margin: 15px;
      font-size: 16px; }
    .news__container--desc p {
      padding: 10px; }
      .news__container--desc p.text-add {
        display: none; }

.news__container--desc {
  display: none; }

.news__container:hover .news__container--desc {
  display: block; }

.events__title {
  text-align: center;
  margin: 15px;
  font-size: 16px; }
